{:company/legal-name "ComfortDelGro Corporation Limited"
 :company/lei "2549005O5PVA2JCH6Q33"
 :company/jurisdiction "SG"
 :company/website "https://www.comfortdelgro.com"
 :company/ticker "CD (SGX)"}
