[["comfortdelgro-tou-1" :tos/full-text "Terms of use - ComfortDelGro
About
Purpose and Values
Board of Directors
Key Management
Businesses
Our Network
Singapore & Malaysia
Australia & New Zealand
UK & Europe
China
Our Expertise
Public Transport
Bus
Rail
Point-to-Point Mobility
Other Private Transport
Inspection & Testing Services
Other Segments
Investor
Investor Relations
Value Proposition
Financial Results
SGX Announcements
Dividend
Financial Calendar
AGM/EGM
Annual Reports
Analyst Coverage
Investor Relations Policy
Sustainability
Approach to Sustainability
Environment
Social
Governance
Policies
Sustainability Reports
News & Insights
Press Releases
Insights
Media Library
Your Career, Our Future
People and Culture
Career Opportunities
Contact
EN
中
Search Now
-->
-->
-->
Terms of use
Home -->
Home
|
Terms of use
Terms and Conditions Governing the Use Of This Website
PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEBSITE.
If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use.
The use of this website is subject to the following terms
The content of the pages of this website is for general information only. It is subject to change without notice.
ComfortDelGro Group and our Group of Companies reserve all intellectual property rights to our products, services and information on this website. All other company names, logos, products, services, design marks, slogans trademarks and service marks are the properties of their respective owners and may not be reproduced or appropriated in any manner without the written permission of their respective owners.
No material or image from this website may be reproduced, copied, republished, uploaded, posted, transmitted or distributed in any way, without our prior written permission. No party is permitted to establish links to this web site without prior written permission from us. We reserve all rights to deny permission for any such links.
From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the websites. We have no responsibility for the content of the linked websites.
Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
We reserve all rights to make any and all changes in this web site at our sole discretion without prior notice. We reserve the right to deny access to this web site to anyone at anytime without prior notice.
Material on our web sites may include technical inaccuracies or typographical errors.
We may make improvements and/or changes in the products, services and/or programmes described in these materials at any time without prior notice.
Disclaimer and exclusion of liabilty
Neither the ComfortDelGro Group or its Group Companies will provide any representation warranty or guarantee as to the truth, accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose.
Any such information and materials may contain inaccuracies or errors and we expressly exclude liability for such inaccuracies or errors to the fullest extent permitted by law.
All information is provided “as is” and “as available”. It does not warrant that this website or this server that makes it available is free of any virus or other harmful elements.
Your use of this website or of any information or materials on this website is entirely at your own risk, for which we shall not be liable either in contract, tort or otherwise.
In no event shall ComfortDelGro or our Group of Companies be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website, or arising out of any reliance on any information and materials provided at this website or any failure of performance, system server or connection failure, error, omission, interruption, delay in transmission, computer virus or unavailability or access regardless of whether ComfortDelGro or our Group of Companies have been informed of the possibility of such damages.
You agree to hold harmless and indemnify ComfortDelGro and/or any of our Group of Companies, officers, employees, agents, affiliates and licensors from and against any claims, actions, proceedings, investigations, demands, losses, damages, suits, judgments, awards, costs and expenses (including but not limited to legal expenses on a full indemnity basis) of every kind and nature arising from or in any way related to any breach by you of these terms and conditions and your use of this website or any services therein.
Miscellaneous
If any provision of these terms and conditions is held to be invalid or unenforceable, in whole or in part, the validity and enforceability of the remainder of the terms and conditions shall not be affected.
Any feedback or comments or any other communication to the website shall be treated as non-confidential. We shall have no obligation whatsoever with respect to such communications and shall be free to reproduce disclose or use the information in any way or for any purpose whatsoever.
Governing law
Your use of this website and any dispute arising out of such use is governed by and construed according to the laws of the Republic of Singapore and you agree to submit to the exclusive jurisdiction of the courts of the Republic of Singapore.
Terms of Use
Privacy Policy
Diversity Policy
Whistle Blowing
Copyright © 2026 ComfortDelGro Corporation Limited
Quick Links
Financial Results
Annual Report
Sustainability
Global Network
LinkedIn
Contact Info
1 Pasir Panjang Road,
#24-01, Labrador Tower, Singapore 118479
[email protected]
Terms of Use
|
Privacy Policy
|
Diversity Policy
|
Whistle Blowing
Copyright © 2026 ComfortDelGro Corporation Limited.
12004
About
Purpose & Values
Board of Directors
Key Management
Businesses
Our Network
Singapore & Malaysia
Australia & New Zealand
UK & Europe
China
Our Expertise
Public Transport
Bus
Rail
Point-to-Point Mobility
Other Private Transport
Inspection & Testing Services
Other Segments
Investor
Investor Relations
Financial Results
SGX Announcements
Dividend
Financial Calendar
AGM/EGM
Annual Reports
Analyst Coverage
Investor Relations Policy
Sustainability
Approach to Sustainability
Environment
Social
Governance
Policies
Sustainability Reports
News & Insights
Press Releases
Insights
Media Library
Your Career, Our Future
People and Culture
Career Opportunities
Contact
Terms of Use
|
Privacy Policy
|
Diversity Policy
|
Whistle Blowing
|
Terms of Use
|
Privacy Policy
|
Diversity Policy
|
Whistle Blowing
Copyright © 2026 ComfortDelGro Corporation Limited.
Copyright © 2026 ComfortDelGro Corporation Limited" 1 :add]
 ["comfortdelgro-tou-1" :tos/source-url "https://www.comfortdelgro.com/terms-of-use/" 1 :add]
 ["comfortdelgro-tou-1" :tos/retrieved-at "2026-07-19T07:42:47Z" 1 :add]
 ["comfortdelgro-tou-1" :tos/sha256 "10cbf400c2ef325903dfe662b373998d88422ca39bddac7057ff7db4ac8ae5c1" 1 :add]
 ["comfortdelgro-tou-1" :tos/doc-type :terms-of-service 1 :add]]
